<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Rubik:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title> Finix Website</title>
  </head>
  <body>


    <nav class="navbar navbar-expand-lg navbar-light main-header sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="./photo/logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
         <ul class="navbar-nav ml-auto our-primary-menu">
            <li><a class="a100" href="#">Home <i class="fas fa-chevron-down a1000"></i></a>
              <ul class="shadow">
                <li><a class="a200" href="#">Home One</a></li>
                <li><a class="a200" href="index.html">Home Two</a></li>
                <li><a class="a200" href="#">Home Three</a></li>
              </ul>
            </li>
            <li><a class="a100" href="#">Pages <i class="fas fa-chevron-down a1000"></i></a>
              <ul class="shadow">
                <li><a class="a200" href="#">About</a></li>
                <li><a class="a200" href="#">Team</a></li>
                <li><a class="a200" href="#">FAQ</a></li>
                <li><a class="a200" href="#">Gallery</a></li>
                <li><a class="a200" href="#">Loan Calculator</a></li>
                <li><a class="a200" href="#">Apply Now</a></li>
                <li><a class="a200" href="#">Testimonials</a></li>
                <li><a class="a200 a8000" href="#">Projects <i class="fas fa-chevron-down a1000"></i></a></li>
                <li><a class="a200" href="#">Sign In</a></li>
                <li><a class="a200" href="#">Sign Up</a></li>
                <li><a class="a200" href="#">Terms & Conditons</a></li>
                <li><a class="a200" href="#">Privace Police</a></li>
              </ul>
            </li>
            <li><a class="a100" href="#">Services <i class="fas fa-chevron-down a1000"></i></a>
              <ul class="shadow">
                <li><a class="a200" href="#">Services</a></li>
                <li><a class="a200" href="#">Services Details</a></li>
              </ul>
            </li>
            <li><a class="a100" href="#">Funding</a></li>
            <li><a class="a100" href="#">Loans</a></li>
            <li><a class="a100" href="#">News <i class="fas fa-chevron-down a1000"></i></a>
              <ul class="shadow">
                <li><a class="a200" href="#">News</a></li>
                <li><a class="a200" href="#">News Details</a></li>
              </ul>
            </li>
            <li><a class="a100" href="#">Contact</a></li>
         </ul>
         <div class="header-info d-flex align-items-center">
            <div class="serch-section">
                <a href="#"> <i class="fas fa-search    "></i></a>
            </div>
            <div class="contact-section clearfix">
                <div class="voliom-icon float-left mr-3 h-100">
                    <span><i class="fas fa-phone-volume"></i></span>
                </div>
                <div class="number-section">
                    <span class="d-block">Call Now</span>
                    <a class="d-block" href="tel:+1514312-5678">+1 (514) 312-5678</a>
                </div>
            </div>
            <div class="apply-section">
                <a href="#" class="btn btn-primary">Apply Now</a>
            </div>
         </div>
        </div>

      </div>
    </nav>


    <section class="loan-benner-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="file:///C:/Users/Fahad/Pictures/Web%20Development/Create%20Full%20Website/Day%2033/index.html#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Library</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
   

    <section class="payment-logo-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="logo-section">
              <ul class="d-flex justify-content-between">
                <li ><a href="#"><img src="./photo/image1.png" alt=""></a></li>
                <li><a href="#"><img src="./photo/image2.png" alt=""></a></li>
                <li><a href="#"><img src="./photo/image3.png" alt=""></a></li>
                <li><a href="#"><img src="./photo/image4.png" alt=""></a></li>
                <li><a href="#"><img src="./photo/image5.png" alt=""></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="fotter-up-section ptb-100">
      <div class="container">
        <div class="row"> 
          <div class="col-lg-3 pad">
            <img src="photo/logo2.png" alt="">
            <p class="mt-4 b7">Lorem ipsum dolor sit amet, consec tetur adipiscing elit, 
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <div class="fotter-icon d-flex mt-3">
                <p>Follow Us :</p>
                <ul>
                 <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                 <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                 <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                 <li><a href=" #"><i class="fab fa-linkedin"></i></a></li>
                </ul>
              </div>
          </div>
          <div class="col-lg-3">
            <h4>Quick Links</h4>
            <div class="go">
              <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Our Performance</a></li>
                <li><a href="#">Help (FAQ)</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3">
            <h4>Other Resources</h4>
            <div class="go">
              <ul>
                <li><a href="#">Support</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Business Loans</a></li>
                <li><a href="#">Loan Services</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3">
            <h4 class="r44">Contact Us</h4>

            <div class="contact-fotter d-flex">
              <div class="contact-fotter-img">
                <i class="fas fa-location"></i>
              </div>
              <div class="contact-fotter-text">
                <span>6890 Blvd, The Bronx, NY 1058 New York, USA</span>
              </div>
            </div>

            <div class="contact-fotter d-flex">
              <div class="contact-fotter-img">
                <i class="fas fa-mail-bulk"></i>
              </div>
              <div class="contact-fotter-text j84">
                <a href="mailto:hello@finix.com">hello@finix.com</a>
                <a href="mailto:hello@finix.com">hello@finix.com</a>
              </div>
            </div>
            <div class="contact-fotter d-flex">
              <div class="contact-fotter-img">
                <i class="fas fa-phone-volume"></i>
              </div>
              <div class="contact-fotter-text j84">
                <a href="tel:1514312-5678">+1 (514) 312-5678</a>
                <a href="Tel:1514312-5678">+1 (514) 312-5678</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



    <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  </body>
</html>